<select id="">
    <option class="option option1" value="option1" data-styleBGC="419aa2" data-styleColor="000"
        style="background-color:#419aa2; color:#000">Option1
    </option>
    <option class="option option2" value="option2" data-styleBGC="8FBDD3" data-styleColor="000"
        style="background-color:#8FBDD3; color:#000">Option2
    </option>
    <option class="option option3" value="option3" data-styleBGC="F1DDBF" data-styleColor="000"
        style="background-color:#F1DDBF; color:#000">Option3
    </option>
    <option class="option option4" value="option4" data-styleBGC="d49974" data-styleColor="000"
        style="background-color:#d49974; color:#000">Option4
    </option>
    <option class="option option5" value="option5" data-styleBGC="925d42" data-styleColor="000"
        style="background-color:#925d42; color:#000">Option5
    </option>
    <option class="option option6" value="option6" data-styleBGC="FF8AAE" data-styleColor="000"
        style="background-color:#FF8AAE; color:#000">Option6
    </option>
    <option class="option option7" value="option7" data-styleBGC="525E75" data-styleColor="000"
        style="background-color:#525E75; color:#000">Option7
    </option>
    <option class="option option8" value="option8" data-styleBGC="5e9684" data-styleColor="000"
        style="background-color:#5e9684; color:#000">Option8
    </option>
    <option class="option option9" value="option9" data-styleBGC="aedaae" data-styleColor="000"
        style="background-color:#aedaae; color:#000">Option9
    </option>
    <option class="option option10" value="option10" data-styleBGC="fff" data-styleColor="000"
        style="background-color:#fff; color:#000">Option10
    </option>
</select>