<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/{{cssPath}}">
    <title>STOW - RTS</title>
</head>

<body>
    {{{body}}}
    <script src="/{{scriptsPath}}"></script>
</body>

</html>