<div class="start-content">
    <h1>STOW - RTS</h1>
    <div class="floor"><a href="/4">P4</a></div>
    <div class="floor"><a href="/3">P3</a></div>
    <div class="floor"><a href="/2">P2</a></div>
    <div class="floor"><a href="/1">P1</a></div>
</div>